body{
  background-image:  url("../image/bg.png") ;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed; 
  font-family: 'Poppins', sans-serif;
}

.custom-container{
  max-width: 2300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

h3{
  padding-bottom: 15px;
}

p{
  color: #606060;
  padding-bottom: 10px;

}


input[type=text],[type=telephone], select{
    width: 100%; 
    padding: 8px;  
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 2px; 
    margin-bottom: 10px; 
    resize: vertical ;
    background-color: transparent;
  }
  
.btn-black{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-black:hover{
    background-color: #606060;
}

  .error-message {
    color: red;
  }