
/* Container Styling */
.container {
    border-radius: 5px;
    background-color: #a99d9d;
    padding: 20px;
    margin: 20px;
    width: 500px;
    font-size: 11px;
    display: inline-block;
}

/* Heading Styling */
.heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Table Container Styling */
.table-container {
    overflow-x: auto;
}

/* Table Styling */
.job-post-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.job-post-table th,
.job-post-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.job-post-table th {
    background-color: #f2f2f2;
}

.job-post-table tbody tr:last-child td {
    border-bottom: none;
}

/* Button Styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
}

.btn:hover {
    background-color: #555;
}



