body{
    background-image:  url("../image/bg.png") ;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    
    padding-right: 100px; 
}

.nav-item{
    margin-right: 30px;
}

.form-control:focus
{
    border-color: black;
    box-shadow: none;
}

.btn-black{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;}

.btn-black:hover{
    background-color: #606060;
}


